/*

/* Contenedor del formulario */
.Formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alineamos el contenido al centro */
}

/* Grupo de formularios específico para SignUp */
.Formulario .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* Input de formulario específico para SignUp */
.Formulario input[type="text"],
.Formulario input[type="date"],
.Formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.Formulario input[type="text"]:focus,
.Formulario input[type="date"]:focus,
.Formulario input[type="password"]:focus {
    border-color: #6cbf84;
    outline: none;
}

/* Mensaje de error específico para SignUp */
.Formulario .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Botón de envío específico para SignUp */
.Formulario button {
    width: 100%;
    padding: 10px;
    background-color: #6cbf84;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Formulario button:hover {
    background-color: #58a46b;
}

/* Estilo para el mensaje de error general específico para SignUp */
.Formulario p {
    color: red;
    text-align: center;
    font-size: 1rem;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .Formulario {
        padding: 15px;
    }

    .Formulario input[type="text"],
    .Formulario input[type="date"],
    .Formulario input[type="password"] {
        padding: 8px;
        font-size: 0.9rem;
    }

    .Formulario button {
        padding: 8px;
        font-size: 0.9rem;
    }
}

.Error {
    text-align: center;
    color: #f00c0c;
}